<div id='login-outer-box'>
  <div id='login-inner-box'>
    <h2>Login to view Order Details</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <div class="icon-element-set">
        <span>
          <i class="material-icons">account_circle</i>
          <input type="text" id='username' placeholder="username" formControlName="username"/>
        </span>
      </div>
      <div class="icon-element-set">
        <span>
          <i class="material-icons">lock</i>
          <input  type="password" id='password' placeholder="password" formControlName="password"/>
        </span>
      </div>
      <div>
        <button type="submit" id="submit">Log In</button>
      </div>
    </form>
    <div class="invalid-credentials-error" *ngIf="showInvalidCredentialsError" >
      * Invalid credentials
    </div>
  </div>
</div>

