#login-outer-box {
  box-shadow: 0px 0px 8px 0px #7a7878;
text-align: center;
position: absolute;
top: 25%;
left: 28%;
width: 40%;
background-color: white;
display: inline-block;
min-width: 350px;
box-sizing: border-box;
}

#login-inner-box {
  width: 70%;
  margin-top: 8%;
  color:black !important;

  display: inline-block;
  padding: 5%;
  margin-bottom: 10%;
}
i {
   vertical-align: middle;
}

.icon-element-set {
  vertical-align: middle;
  margin: 2%;
  padding: 2%;
  border: 1px solid lightgray;
  border-radius: 2%;
}



#submit {
  display: inline-block;
  width: 80%;
  margin: 3%;
  text-align: center;
}

input {
  width: 80%;
  border: none;
  font-size: 14px;
  padding:2%;
}

input:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.invalid-credentials-error {
  color:red;
  text-align: right;
}
