table {
  width: 100%;
}

.main-orders-container {
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}

a {
  color: #1976d2;
}
a:hover {
  text-decoration: underline;
}

.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #1976d2;
}

.date-picker-group {
  float: right;
}

.my-button {
  width: 100%;
  float: right;
  text-align: right;
  margin-top:-1%;
}
button {
  margin-bottom: 2%;
}
