<div *ngIf="showLoader">
  <div class="uploader-status">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="mat-elevation-z8"  class='main-orders-container'>
  <h2>Order Details</h2>

  <div class="fancy-input">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" [(ngModel)]="searchValue">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Show orders </mat-label>
    <mat-select [(value)]="selected" (selectionChange)="showOrderTypeChanged()">
      <mat-option value="All">All</mat-option>
      <mat-option value="Processed">Processed</mat-option>
      <mat-option value="UnProcessed">Un-Processed</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="date-picker-group">
    <mat-form-field>
      <mat-label>Choose From Date</mat-label>
      <input matInput [matDatepicker]="fromDatePicker" [formControl]="fromDate">
      <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #fromDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose to date</mat-label>
      <input matInput [matDatepicker]="toDatePicker" [formControl]="toDate">
      <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #toDatePicker></mat-datepicker>
    </mat-form-field>
  </div>
  </div>
  <div class="my-button">
    <button (click)="loadSelectedOrders()">Load Orders</button>
  </div>


  <table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="mat-elevation-z2">

    <ng-container matColumnDef="NumOrderId">
      <th mat-header-cell *matHeaderCellDef> Our Reference </th>
      <td mat-cell *matCellDef="let element"> {{element.NumOrderId}} </td>
    </ng-container>

    <ng-container matColumnDef="FullName">
      <th mat-header-cell *matHeaderCellDef> Customer Name </th>
      <td mat-cell *matCellDef="let element"> {{element.FullName}} </td>
    </ng-container>

    <ng-container matColumnDef="PickingBatch">
      <th mat-header-cell *matHeaderCellDef> Picked? </th>
      <td mat-cell *matCellDef="let element"> {{element.PickingBatch == true ?'yes':'no' }} </td>
    </ng-container>

    <ng-container matColumnDef="PostalServiceName">
      <th mat-header-cell *matHeaderCellDef> Shipping Service </th>
      <td mat-cell *matCellDef="let element"> {{element.PostalServiceName}} </td>
    </ng-container>

    <ng-container matColumnDef="ReferenceNum">
      <th mat-header-cell *matHeaderCellDef> Your Reference </th>
      <td mat-cell *matCellDef="let element"> {{element.ReferenceNum}} </td>
    </ng-container>

    <ng-container matColumnDef="TrackingNumber">
      <th mat-header-cell *matHeaderCellDef> Tracking Number </th>
      <td mat-cell *matCellDef="let element"> {{element.TrackingNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="Processed">
      <th mat-header-cell *matHeaderCellDef> Processed </th>
      <td mat-cell *matCellDef="let element"> {{ element.Processed == true ?'yes':'no'}} </td>
    </ng-container>

    <ng-container matColumnDef="ProcessedDateTime">
      <th mat-header-cell *matHeaderCellDef> Shipped Date </th>
      <td mat-cell *matCellDef="let element"> {{element.ProcessedDateTime | date}} </td>
    </ng-container>


    <ng-container matColumnDef="customColumn1">
    <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class='details-column'> <a routerLink='/order/{{element.NumOrderId}}/{{ element.ImageExists}}' > Details </a> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons></mat-paginator>
</div>
