﻿@using System.Web.Optimization
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Order Dispatch</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/od-live.ico")">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    @Styles.Render("~/Styles")
</head>
<body class="mat-typography">
    <app-root></app-root>
    @Scripts.Render("~/Scripts")
</body>
</html>
