<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Customer Details"><app-customer-details></app-customer-details></mat-tab>
  <mat-tab label="Order Items"><app-order-items></app-order-items></mat-tab>
  <mat-tab label="Product Package Image" *ngIf="imageExists" ><app-order-image></app-order-image></mat-tab>
</mat-tab-group>
