<a [routerLink]="['/dashboard']">
  <h2>Order Dispatch</h2>
</a>

<p *ngIf="this.authService.userLoggedIn">
  <span class='customer-name'>
    <i class="material-icons">account_circle</i>
    {{ this.authService.logedInUserName}}
  </span>
  <span>
    <a mat-button (click)="logOutClick()">Log Out</a>
  </span>
</p>
