/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d281;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */


/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 60px;
  background-color: #f3f1f7fa;
  box-shadow: 0px 0px 8px 0px #7a7878;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


app-top-bar h1 {
  color: white;
  margin: 0;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.in-app-nav-bar a{
  color: #1976d2;;
  font-size: 16px;
  padding: 5px;
}

.in-app-nav-bar {
  display: inline-block;
  margin-left: 3%;
  margin-top: 1%;
}

.in-app-nav-bar a :hover {
background-color: lightgray;
}

.uploader-status {
  text-align: center;
  display: inline-block;
  position: fixed;
  top: 55%;
  left: 42%;
}
