<div *ngIf="showLoader">
  <div class="uploader-status">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div *ngIf="customerDetails">

  <div class="main-detail">
    <div>
      <span class="key">Name </span>
     <span class="value">{{customerDetails.FullName}}</span>
    </div>
    <div>
      <span class="key">PhoneNumber </span>
       <span class="value">{{customerDetails.PhoneNumber}}</span>
    </div>
    <div>
      <span class="key">EmailAddress </span>
      <span class="value">{{customerDetails.EmailAddress}}</span>
    </div>
  </div>

  <div class="billing-address-box" *ngIf="customerDetails.BillingAddress" >
    <h2>Billing Address</h2>
    <div>
      <span class="key">Address1 </span>
      <span class="value">{{customerDetails.BillingAddress.Address1}}</span>
    </div>
    <div>
      <span class="key">Address2 </span>
      <span class="value">{{customerDetails.BillingAddress.Address2}}</span>
    </div>
    <div>
      <span class="key">Town </span>
      <span class="value">{{customerDetails.BillingAddress.Town}}</span>
    </div>
    <div>
      <span class="key">Region </span>
      <span class="value">{{customerDetails.BillingAddress.Region}}</span>
    </div>
    <div>
      <span class="key">PostCode </span>
      <span class="value">{{customerDetails.BillingAddress.PostCode}}</span>
    </div>
    <div>
      <span class="key">Country </span>
      <span class="value">{{customerDetails.BillingAddress.Country}}</span>
    </div>
  </div>

  <div class="shipping-address-box" *ngIf="customerDetails.ShippingAddress" >
    <h2>Shipping Address</h2>
    <div>
      <span class="key">Address1 </span>
      <span class="value">{{customerDetails.ShippingAddress.Address1}}</span>
    </div>
    <div>
      <span class="key">Address2 </span>
      <span class="value">{{customerDetails.ShippingAddress.Address2}}</span>
    </div>
    <div>
      <span class="key">Town </span>
      <span class="value">{{customerDetails.ShippingAddress.Town}}</span>
    </div>
    <div>
      <span class="key">Region </span>
      <span class="value">{{customerDetails.ShippingAddress.Region}}</span>
    </div>
    <div>
      <span class="key">PostCode </span>
      <span class="value">{{customerDetails.ShippingAddress.PostCode}}</span>
    </div>
    <div>
      <span class="key">Country </span>
      <span class="value">{{customerDetails.ShippingAddress.Country}}</span>
    </div>
  </div>

</div>

