
.shipping-address-box,.billing-address-box,.main-detail {
  width: 45%;
  font-size: 120%;
  padding:1%;
}

.shipping-address-box {
  float: right;
}
.billing-address-box {
  float: left;
}
span {
  display: inline-block;
  text-align: left;
}
div {
  margin: 2%;
}
span.key {
  width: 40%;
  font-weight: bold;
}
span.value {
  width: 60%;
}

